body {
    max-width: 730px;
    width: 70%;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    background-color: #f0f0f0;
    font-family: 'Bitter', serif;
    text-align: center;
}

main {
    background-color: #4ABDAC;
    overflow: auto;
}

p {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 28px;
    border: 2px #4ABDAC solid;
    margin: 2px;
}

/* LAYOUT */
.block {
    clear: both;
    padding-left: 2%;
    padding-right: 2%;
}

.layout-1a {
    float: left;
    text-align: left;
    width: 30%;
    padding: 2%;
    background-color: #3b978a;
    overflow: auto;
}

.layout-1b {
    float: left;
    text-align: left;
    width:55%;
    padding: 2%;
    overflow: auto;
}

.layout-2a {
    float: left;
    text-align: right;
    width: 55%;
    padding: 2%;
}

.layout-2b {
    float: left;
    text-align: right;
    width: 30%;
    padding: 2%;
    background-color: #3b978a;
}

footer {
    clear: both;
    margin: 5px;
    padding: 5px;
    font-style: italic;
}

/* Text styling **/

h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 36px;
    color: #3b978a;
    
}

.offset-font {
    font-family: 'Catamaran', sans-serif;
    font-variant: small-caps;
}

.purpose {
    font-weight: 700;
    color: rgb(252, 74, 26);
}

.emphasize {
    font-style: italic;
    color: #f7b733;
}

.uppercase {
    text-transform: uppercase;
}

.normal {
    color: #000000;
    font-size: 14px;
}